@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: F37LinecaMedium;
    src: url("/F37Lineca-Medium.otf") format("opentype");
  }

  @font-face {
    font-family: FeijoaDisplay;
    src: url("/TestFeijoa-Display.otf") format("opentype");
  }

  @font-face {
    font-family: FeijoaMedium;
    src: url("/Feijoa-Medium.otf") format("opentype");
  }

  html {
    @apply text-sm 2xl:text-base bg-background h-full min-w-[1280px] min-h-[600px] font-sans box-border antialiased leading-normal;
  }

  body {
    @apply ease-in-out w-full h-full;
  }

  h1 {
    @apply text-3xl 2xl:text-4xl font-display;
  }

  h2 {
    @apply text-xl 2xl:text-2xl font-serif;
  }

  input[type="text"],
  input[type="number"] {
    @apply border border-foreground px-2 min-w-24 h-8 rounded-md bg-transparent;
  }

  input[type="range"] {
    @apply appearance-none h-6 bg-transparent z-10 rounded-sm overflow-hidden cursor-pointer
    [&::-webkit-slider-thumb]:appearance-none 
    [&::-webkit-slider-thumb]:bg-foreground
    [&::-webkit-slider-thumb]:w-2
    [&::-webkit-slider-thumb]:h-2 
    [&::-webkit-slider-thumb]:rounded-full
    [&::moz-range-thumb]:w-2 
    [&::moz-range-thumb]:h-2 
    [&::moz-range-thumb]:bg-foreground
    [&::moz-range-thumb]:rounded-full;
  }

  select {
    @apply border border-foreground bg-transparent p-1 w-[300px] h-8 rounded-md uppercase;
  }

  /* button {
    @apply relative px-2 text-sm border border-black-100 bg-white text-black-100 h-8 rounded-sm w-fit disabled:bg-transparent disabled:text-slate-500 disabled:border-slate-500 enabled:active:top-[2px];
  } */

  button {
    @apply relative px-2 uppercase border border-foreground bg-transparent text-foreground h-8 rounded-md w-fit disabled:opacity-50 [&:not(:disabled)]:active:top-0.5;
  }

  label {
    @apply w-[200px] uppercase text-sm;
  }

  textarea {
    @apply min-h-8 border border-foreground rounded-md bg-transparent py-1 px-2 w-[300px] font-serif;
  }
}

@layer components {
  .btn-link {
    @apply h-fit p-0 bg-transparent border-0 underline rounded-none;
  }
}

/* :root {
  line-height: 1.5;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

#root {
  /* width: 100%; */
  /* display: flex; */
  /* flex: grow; */
  height: 100%;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
