@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: F37LinecaMedium;
    src: url("/F37LinecaTrial-Medium.otf") format("opentype");
  }

  @font-face {
    font-family: TestFeijoaDisplay;
    src: url("/TestFeijoa-Display.otf") format("opentype");
  }

  html {
    @apply w-full h-full min-w-[1280px] min-h-[600px];
  }

  body {
    @apply bg-gray-100 w-full h-full;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl uppercase;
  }

  input[type="text"],
  input[type="number"] {
    @apply border border-black-100 p-1 px-2 min-w-24 h-8 rounded-sm;
  }

  input[type="range"] {
    @apply appearance-none h-3 border-black-100 border bg-transparent z-10 rounded-sm overflow-hidden
    [&::-webkit-slider-thumb]:appearance-none 
    [&::-webkit-slider-thumb]:bg-black-100 
    [&::-webkit-slider-thumb]:w-3 
    [&::-webkit-slider-thumb]:h-3 
    [&::moz-range-thumb]:w-3 
    [&::moz-range-thumb]:h-3 
    [&::moz-range-thumb]:bg-black-100;
  }

  select {
    @apply border border-black-100 p-1 w-[300px] h-8 rounded-sm;
  }

  button {
    @apply relative px-2 text-sm border border-black-100 bg-white text-black-100 h-8 rounded-sm w-fit disabled:bg-transparent disabled:text-slate-500 disabled:border-slate-500 enabled:active:top-[2px];
  }

  label {
    @apply w-[200px];
  }

  textarea {
    @apply min-h-8 border border-black-100 rounded-sm p-1 px-2 w-[300px];
  }
}

@layer components {
  .btn-link {
    @apply h-fit p-0 bg-transparent border-0 underline rounded-none;
  }
}

:root {
  font-family: F37LinecaMedium, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* width: 100%; */
  /* display: flex; */
  /* flex: grow; */
  height: 100%;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
