@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: F37LinecaMedium;
    src: url("/F37Lineca-Medium.otf") format("opentype");
  }

  @font-face {
    font-family: FeijoaDisplay;
    src: url("/TestFeijoa-Display.otf") format("opentype");
  }

  @font-face {
    font-family: FeijoaMedium;
    src: url("/Feijoa-Medium.otf") format("opentype");
  }

  html {
    @apply text-sm 2xl:text-base bg-background h-full min-h-[600px] font-sans box-border antialiased leading-normal;
  }

  body {
    @apply ease-in-out w-full h-full;
  }

  h1 {
    @apply text-3xl 2xl:text-4xl font-display;
  }

  h2 {
    @apply text-xl 2xl:text-2xl font-serif;
  }

  input[type="text"],
  input[type="number"] {
    @apply border border-contrast px-2 min-w-24 h-8 rounded-md bg-transparent;
  }

  input[type="range"] {
    @apply appearance-none h-6 bg-transparent z-10 rounded-sm overflow-hidden cursor-pointer
    [&::-webkit-slider-thumb]:appearance-none 
    [&::-webkit-slider-thumb]:bg-contrast
    [&::-webkit-slider-thumb]:w-2
    [&::-webkit-slider-thumb]:h-2 
    [&::-webkit-slider-thumb]:rounded-full
    [&::moz-range-thumb]:w-2 
    [&::moz-range-thumb]:h-2 
    [&::moz-range-thumb]:bg-contrast
    [&::moz-range-thumb]:rounded-full;
  }

  select {
    @apply border border-contrast bg-transparent p-1 w-[300px] h-8 rounded-md uppercase;
  }

  button {
    @apply relative px-2 uppercase border border-contrast bg-transparent text-contrast h-8 rounded-md w-fit disabled:opacity-50 [&:not(:disabled)]:active:top-0.5;
  }

  label {
    @apply w-[200px] uppercase text-sm;
  }

  textarea {
    @apply min-h-8 border border-contrast rounded-md bg-transparent py-1 px-2 w-[300px] font-serif;
  }
}

@layer components {
  .btn-link {
    @apply h-fit p-0 bg-transparent border-0 underline rounded-none;
  }
}

#root {
  height: 100%;
}
